<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
	  <groups>
		  <run>
			  <include name="crm"></include>
		  </run>
	  </groups>
	  
    <classes>
      <class name="Unit_Testing_Tool.wipro"/>
      <class name="Unit_Testing_Tool.Google"/>
      <class name="Unit_Testing_Tool.Infoysis"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
